<nav class="bg-lightGray">
  <div class="container flex items-center justify-between">
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu" class="md:hidden">
      <div class="main-content-wrapper">
        <a
          routerLink="/home"
          class="hover:text-orangeLight"
          routerLinkActive="linkactive"
          >Home</a
        >
        <a
          routerLink="/shop"
          class="hover:text-orangeLight"
          target="_parent"
          routerLinkActive="linkactive"
          >Shop</a
        >
        <a
          routerLink="/about"
          class="hover:text-orangeLight"
          routerLinkActive="linkactive"
          >About</a
        >
        <a
          href="#"
          class="hover:text-orangeLight"
          routerLinkActive="linkactive"
          routerLink="/profile"
          >Profile</a
        >
      </div>
    </div>

    <div>
      <img
        src="../../../../assets/images/logo.png"
        class="sm:w-40 md:w-64 hover:cursor-pointer sm:ml-12"
        alt=""
        routerLink="/home"
      />
    </div>
    <div class="hidden md:flex space-x-6 justify-start text-2xl">
      <a
        routerLink="/home"
        class="hover:text-orangeLight"
        routerLinkActive="linkactive"
        >Home</a
      >
      <a
        routerLink="/shop"
        class="hover:text-orangeLight"
        target="_parent"
        routerLinkActive="linkactive"
        >Shop</a
      >
      <a
        routerLink="/about"
        class="hover:text-orangeLight"
        routerLinkActive="linkactive"
        >About</a
      >
      <a
        href="#"
        class="hover:text-orangeLight"
        routerLinkActive="linkactive"
        routerLink="/profile"
        >Profile</a
      >
    </div>

    <div
      class="m-3 p-2 flex md:p-3 md:px-6 md:pt-2 text-white bg-orangeLight rounded-full baseline"
    >
      <app-cart-icon routerLink="/cart"></app-cart-icon>
      <p href="#">{{ numberOfProducts }} (${{ total | number: "1.2-2" }})</p>
    </div>
  </div>
</nav>
