@tailwind base;

@tailwind components;

@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

:root {
  --lightGray: #f2ebe7;
  --orangeLight: #eb8564;
  --seashell: #fff5ee;
}
.category {
  border-radius: 15px;
  background-color: #eb8564;
  border-width: 0px;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 17px;
  font-weight: semibold;
  margin: -20px 5px 5px 5px;
}
.active {
  color: black;
  font-weight: 500;
}
.category:hover {
  color: var(--lightGray);
}
.categoryTitle {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0px 0px 50px;
}
.card {
  width: 450px;
  height: 600px;
  border-radius: 25px;
  border: 2px solid seashell;
  padding: 20px;
  margin: 5px;
}
.product-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: auto;
  margin: 20px 0px 100px 20px;

  row-gap: 1rem;
}
.product-title {
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.price {
  font-weight: bold;
  margin: auto;
  padding: 10px;
  color: #ea8465;
  text-align: center;
}
.rating {
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.linkactive {
  color: var(--orangeLight);
}
.product {
  width: 600px;
  height: 800px;
  border-radius: 25px;
  border: 2px solid var(--orangeLight);
  padding: 20px;
  margin: 50px;
}
.box {
  text-align: center;
  margin-top: 300px;
}

.quantifiers {
  text-align: center;
  height: 30px;
  font-size: 18px;
  width: 50px;
  background-color: #ea8465;
  color: white;
  font-weight: bold;
  border-color: silver;
  border-width: 1px;
  border-radius: 30px;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}
.quantifiers:hover {
  color: black;
}
.add {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border-width: 0px;
  margin: 10px;
  background-color: seashell;
}
.add {
  cursor: pointer;
}
.add:hover,
.add.active {
  color: #ea8465;
}
.quantity {
  padding: 20px;
  background-color: seashell;
  height: 60px;
  border-radius: 25px;
}
.formelements {
  width: 200px;
  height: 50px;
  padding: 5px;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--orangeLight);
}
